@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  "primary": "#0000FF";    /* Pure blue */
  "secondary": "#14b8a6";  /* Teal */
  "neutral": "#000000";     /* Black text */
  "base-100": "#ffffff";    /* White background */
}

* {
    font-family: "Roboto", sans-serif;
}

/* text  visible */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    color: #111827; 
}

input::placeholder,
textarea::placeholder {
    color: #6b7280; 
}
